*{
    margin: 0;
	padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body{
	margin: 0;
    width: 100%;
	height: 100%;
	background: url(fondo.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	justify-content: center;
	align-items: center;
    padding: 10px;
}

body::before{
	content:"";
	width:100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
    background: linear-gradient(135deg,navy,lightblue,navy,purple,pink,purple);
    opacity: 0.8;
	z-index: -1;
}

/* contenedor lista */
.lista {
    border: solid white 0.5px; 
    width: 100%;
    margin: 0px auto;
}

/* fondo lista de libros */
.lista li{
	width: 95%;
    background-color: rgba(0, 0, 0, 0.2);
    height: auto;
    text-align: center;
    list-style: none;
    border-radius: 0.2em;
}


/* lista de libros */
.lista li a{
    list-style: none;
    text-decoration: none;
    color: white;
    text-shadow: 1px 1px 1px black;
}

.lista li a:hover{
    color: lightblue;
    text-shadow: 1px 1px 1px black;
}
li {
    margin: 1em auto;
    padding: 0.5em;

}


/* media query pantalla vertical */
@media (orientation: portrait) {
	@media only screen and (max-width: 768px) {
    ul {
        height: 96.5vh;
        overflow: auto;
    }
    .lista li {
        width: 90%;
        height: auto;
    }
    .lista li a {
        width: 90%;
		font-size: 1em;
    }
}

@media only screen and (min-width: 768px) {
    ul {
        height: 98vh;
        overflow: auto;
    }
    .lista li{
        width: 70%;
        height: auto;
    }
    .lista li a {
        width: 70%;
		font-size: 1.3em;
    }
}
}

/* media query pantalla horizontal */
@media (orientation: landscape) {
    @media only screen and (max-width: 768px) {
        body {
			background: url(fondo-menu2.jpg);
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center;
			background-attachment: fixed;
			justify-content: center;
			align-items: center;
			margin: 0px auto;
			display: flex;
		}
        ul {
            height: 93vh;
            overflow: auto;
        }
        .lista li {
            width: 70%;
            height: auto;
        }
        .lista li a {
            width: 70%;
            font-size: 1em;
        }
	}

    @media only screen and (min-width: 768px) {
		body {
			background: url(fondo.jpg);
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center;
			background-attachment: fixed;
			justify-content: center;
			align-items: center;
			margin: 0px auto;
			display: flex;
		}
        ul {
            height: 97vh;
            overflow: auto;
        }
        .lista li {
            width: 60%;
            height: auto;
        }
        .lista li a {
            width: 60%;
            font-size: 1.3em;
        }
	}
}

