*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
}

body{
	margin: 10px auto;
	height: 100%;
	background: url(fondo.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	justify-content: center;
	align-items: center;
}

body::before{
	content:"";
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background: linear-gradient(45deg,navy,lightblue,navy,purple,pink,purple);
	opacity: 0.8;
	z-index: -1;
}

.libro{
	width: 90%;
    display: flex;
	align-items: center;
	flex-direction: column;
    justify-content: center;
	margin: 5px auto;
}

h1{
	font-size: 2em;
	width: 90%;
	text-align: center;
	font-weight: bold;
	font-family: sans-serif;
	color: lightblue;
	text-shadow: black 2px 2px 2px;
	margin: 2em auto;
	padding: 10px;
}

@media screen and (max-width: 1024px) {
		h1{
			font-size: 1.5em;
		}
}
	
@media screen and (max-width: 768px) {
		h1{
			font-size: 1em;
		}
}

a {
    text-decoration:none;
    text-align: center;
}

li{
	list-style: none;
}

li a{
	width: 90%;
    color: white;
	padding:5px;
    display:block;
	margin: 1em auto;
    background: linear-gradient(0deg,);
	opacity: 1;
	font-size: 2em;
	font-weight: bold;
	font-family: sans-serif;
	text-shadow: black 5px 5px 5px;
	border-radius: 0.3em;
}

@media screen and (max-width: 1024px) {
	li a{
		font-size: 1.5em;
	}
}

@media screen and (max-width: 768px) {
	li a{
		font-size: 1em;
	}
}

li a:hover{
	background: lightskyblue;
}